@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: black;
  background-color: #FFFFFF;

  margin: auto;
} */

/* header {
  height: 68px;


} */

/*  */

/* .nav-right {
  display: flex;
  gap: 24px;
  align-items: center;
} */

.downloadBtn {
  background-color: black;
  width: 136px;
  height: 36px;
  border-radius: 12px;
  color: #FFFFFF;
  padding: 6px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}

/* main {
  width: 1440px;
  max-width: 1440px;
  padding: 96px 80px 96px 80px;
} */

.container {
  display: flex;
  gap: 48px;
  padding-left: 32px;
  padding-right: 32px;

}

.bio-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bio-header {
  font-size: 60px;
  font-weight: 700;
}

.bio-paragraph {
  font-size: 16px;
  font-weight: 400;
}

.bio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 48px;
}

.dot-icon-container {
  width: 24px;
  height: 24px;
  padding: 8px;
}

.dot-icon {
  width: 8px;
  height: 8px;
}

.location {
  display: flex;
  gap: 8px;
}

.available {
  display: flex;
  gap: 8px;
}

.bio-footer {
  padding-top: 48px;
}

.contact-icons {
  display: flex;
}

.picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-self: stretch;
  flex: 1 0 0;
  object-fit: cover;
}

.person-pic {
  width: 280px;
  height: 320px;
  flex-shrink: 0;
  box-shadow: 40px 40px #E5E7EB;

}